@require global-admin
.listing-header
  background-color: simpl-green
  border-radius 3px
  margin-top 1%
  .heading
    font-weight bold
    color #ffffff

.listing
  margin-top 1%
  .listing-img
    height auto
    width 100%
  .listing-link
    padding-top 1rem;
