.basic-vehicle-select
  max-width 60%;
  margin-left 5%

.make
.model
.startYear
.endYear
  width 30%
  margin-right 1%

.startYear
.endYear
  width 20%

.startYear
  margin-right 1%

.endYear
  margin-left 1%

.minMileage
  width 30%
  margin-left 1%
  margin-right 1%
