@import url(http://fonts.googleapis.com/css?family=Ubuntu);

simpl-green = #27ae60
simpl-green-active = #3DB670

.contain-to-grid.sticky
  background-color simpl-green

.top-bar
  background-color simpl-green

nav
  background-color simpl-green
  section.top-bar-section
    background-color simpl-green
    ul.right
      li
        a
          background-color simpl-green !important

.divider
  border-right solid 1px #FFFFFF !important

.title-link
  color #458E54
  font-family 'Ubuntu', sans-serif
